<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FileName" value="D:\Groups.xlsx"/>
    <add key="RootFolderName" value="Test"/>
    <add key="AuthFilePath" value="credentials.json"/>
    <!--<add key="SharingMessage" value="This folder is shared with each team separately. 
                                        Please DON'T share it with anyone outside the team. 
                                        Make sure to copy the folder of the project with the same hierarchy into this folder (don't zip) before deadline."/>-->
  </appSettings>
</configuration>